/* Defaults */

* {
  color: white;
}

*[disabled] {
  cursor: not-allowed;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
  margin: 0;
}

h2 {
  text-align: center;
  font-size: 2.5em;
}

h3 {
  font-size: 1.8em;
}

button {
  align-self: baseline;
  background-color: #232;
  border: 0.1em solid white;
  border-radius: 0.5em;
  padding: 0.2em 0.6em;
  font-size: 1.2em;
  cursor: pointer;
}

button:hover {
  background-color: dimgrey !important;
}

form {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  border: 0.1em solid white;
  border-radius: 0.3em;
  padding: 1em 1em;
}

.formTitle {
  font-size: 1.3em;
  font-weight: 700;
}

.formError {
  font-size: 1.2em;
  color: #d22;
  margin-top: 0.5em;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 1em;
}

fieldset.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

legend {
  margin: 0;
  padding: 0.1em 0;
  font-size: 1.3em;
  text-decoration: underline;
}

label {
  font-size: 1.2em;
  margin-bottom: 0.2em;
  margin-right: 0.2em;
}

input, select {
  flex: 1;
  background: none;
  border: 0.1em solid rgba(255, 255, 255, 0.5);
  border-radius: 0.5em;
  padding: 0.2em 0.6em;
  margin-bottom: 0.2em;
  font-size: 1.2em;
}

input:focus, select:focus {
  border-color: white;
}

input[type="checkbox"] {
  flex: 0;
}

option {
  background-color: #333;
}

button[type="submit"] {
  margin-top: 1em;
}


/* --------------- */

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #333;
}

.header {
  display: flex;
  align-items: center;
  background-color: #232;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  height: 10vh;
}

.menu {
  flex: 1;
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
}

.userButtons {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.userItem {
  display: flex;
  align-items: center;
  padding: 0 2em;
  font-size: 1.6em;
  border-left: 0.1em solid white;
  cursor: pointer;
}

.userItem.noclick {
  cursor: default;
}

.headerIconLabel {
  display: flex;
  padding: 0 1em;
}

.headerIcon {
  display: flex;
  transform: scale(1.5);
}

.mainContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 90vh;
}

/* --------------- */

.loadingSpinner {
  display: flex;
  align-items: center;
  align-self: flex-start;
  transform: scale(0.7);
  padding: 0;
  margin: 0;
}

/* Dashboard general */

.dashboard {
  flex: 1;
  display: flex; 
  justify-content: center;
}

.dashboardContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.dashboardHeaderContainer {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboardBodyContainer {
  height: 80vh;
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

.dashboardColumn {
  flex: 1;
  height: 100%;
  margin: 0 5em;
}

.dashboardTitle {
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 0.1em solid white;
}

.dashboardTitle select {
  flex: 0;
  font-size: 0.8em;
}

.dashboardComponent {
  height: 95%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

/* Cards */

.card {
  display: flex;
  flex-direction: column;
  border: 0.1em solid white;
  border-radius: 0.5em;
  padding: 1.5em 1.5em;
  margin: 2em 2vw;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
}

.cardTitle {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0.4em 0;
}

.cardInfo {
  font-size: 1.2em;
  margin: 0.2em 0;
}

/* Manager */

.managerButtons {
  display: flex;
}

.managerButtons button {
  border-radius: 100%;
  font-size: 0.8em;
  height: 2.5em;
  width: 2.5em;
  padding: 0;
  margin: 0 0.2em;
}

button.addButton {
  background-color: #272;
}

button.editButton {
  background-color: #d72;
}

button.deleteButton {
  background-color: #d22;
}

.capacityWarning {
  display: inline;
  font-weight: 700;
  color: #d22;
}

/* Driver dashboard */

.driverMainContainer {
  display: flex;
}

.mapContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
  border: 0.1em solid white;
  border-radius: 0.3em;
}

#map {
  min-height: 50vh;
  width: 100%;
}

/* User Account */

.accountInfo {
  font-size: 1.7em;
  margin: 0.7em 0;
}